/* VARIABLES */
/* SITE */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Manrope', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: url("../images/bg-pattern.svg") no-repeat #fafbff;
  background-size: contain;
  margin: auto 2.5rem;
  text-align: center;
}

/* SECTION */
.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 14.5rem;
  background: url("../images/pattern-circles.svg") center no-repeat;
}

.heading__main {
  font-size: clamp(2rem, 5vw, 2.4rem);
  margin-bottom: 1rem;
  color: #293356;
}

.heading__text {
  font-size: 1.3rem;
  width: 55%;
  color: #858fad;
}

.trial-card {
  max-width: 54.5rem;
  margin: 3.3rem auto 0;
  border-radius: 1rem;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 0.3);
}

.slidecontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 2.5rem;
  color: #858fad;
}

.slidecontainer__pageviews {
  font-size: 1.3rem;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.slidecontainer__slider {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 1rem;
  margin: 4rem 0 3.5rem;
  border-radius: 100vmax;
  background-color: #eaeefb;
}

.slidecontainer__slider::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  background: url("../images/icon-slider.svg") center no-repeat #10d5c2;
  box-shadow: 0px 15px 30px -3px #10d5c2;
  cursor: pointer;
}

.slidecontainer__slider::-webkit-slider-thumb {
  position: relative;
  top: -150%;
  -webkit-appearance: none;
          appearance: none;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  background: url("../images/icon-slider.svg") center no-repeat #10d5c2;
  -webkit-box-shadow: 0px 15px 30px -3px #10d5c2;
          box-shadow: 0px 15px 30px -3px #10d5c2;
  cursor: pointer;
}

.slidecontainer__slider::-ms-thumb {
  appearance: none;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  background: url("../images/icon-slider.svg") center no-repeat #10d5c2;
  box-shadow: 0px 15px 30px -3px #10d5c2;
  cursor: pointer;
}

.slidecontainer__slider::-moz-range-thumb:active {
  background-color: #a5f3eb;
  cursor: grabbing;
}

.slidecontainer__slider::-webkit-slider-thumb:active {
  background-color: #a5f3eb;
  cursor: -webkit-grabbing;
}

.slidecontainer__slider::-ms-thumb:active {
  background-color: #a5f3eb;
  cursor: -webkit-grabbing;
}

.slidecontainer__slider::-moz-range-track {
  height: 100%;
  border-radius: 100vmax;
  background-color: #eaeefb;
}

.slidecontainer__slider::-webkit-slider-runnable-track {
  height: 100%;
  border-radius: 100vmax;
  background-color: #eaeefb;
}

.slidecontainer__slider:focus::-webkit-slider-runnable-track {
  height: 100%;
  border-radius: 100vmax;
  background-color: #eaeefb;
}

.slidecontainer__slider::-ms-track {
  height: 100%;
  border-radius: 100vmax;
  background-color: #eaeefb;
}

.slidecontainer__slider::-ms-fill-lower {
  height: 100%;
  border-radius: 100vmax;
  background-color: #eaeefb;
}

.slidecontainer__slider::-moz-range-progress {
  height: 100%;
  border-radius: 100vmax;
  background-color: #a5f3eb;
}

.slidecontainer__slider::-ms-fill-upper {
  height: 100%;
  border-radius: 100vmax;
  background-color: #10d5c2;
}

.slidecontainer__price {
  font-size: 3rem;
  font-weight: 800;
  color: #293356;
}

.slidecontainer__price--period {
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: 1rem;
  color: #858fad;
}

.price-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 2.5rem 4rem;
  border-bottom: 3px solid #fafbff;
}

.price-switch__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #858fad;
}

.price-switch__text--discount {
  text-transform: none;
  display: inline-block;
  padding: 0 0.5rem;
  border-radius: 100vmax;
  margin-left: 0.5rem;
  color: #ff8c66;
  background-color: rgba(255, 140, 102, 0.15);
}

.price-switch__text:nth-of-type(2) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.price-switch__switch {
  position: relative;
  width: 4.4rem;
  height: 2.2rem;
  border-radius: 100vmax;
  margin: 0 1rem;
  background-color: #cdd7ee;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  cursor: pointer;
}

.price-switch__switch--input {
  height: 0.5rem;
  width: 0.5rem;
  opacity: 0;
}

.price-switch__switch--knob {
  position: absolute;
  top: 0.35rem;
  left: 0.45rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.price-switch__switch--input:checked + .price-switch__switch--knob {
  -webkit-transform: translate3d(2rem, 0, 0);
          transform: translate3d(2rem, 0, 0);
}

.trial-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trial-info__textbox {
  margin: 2rem 0 2.5rem;
}

.trial-info__textbox--offer {
  font-size: 1.2rem;
  color: #858fad;
  margin: 1rem;
}

.trial-info__textbox--offer img {
  margin-right: 1.5rem;
}

.trial-info__button {
  font-family: 'Manrope', sans-serif;
  font-size: 1.3rem;
  font-weight: 800;
  width: 17rem;
  height: 4rem;
  border: none;
  border-radius: 100vmax;
  margin-bottom: 3.3rem;
  color: #bdccff;
  background-color: #293356;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  cursor: pointer;
}

footer {
  margin-top: 1rem;
}

/* HOVERS */
.price-switch__switch:hover {
  background-color: #a5f3eb;
}

.trial-info__button:hover {
  color: white;
}

/* MEDIA QUERIES */
@media (min-width: 500px) {
  .slidecontainer {
    padding: 4rem 5rem 2rem;
  }
  .slidecontainer__pageviews {
    text-align: left;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .slidecontainer__slider {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .slidecontainer__price {
    font-size: 3.3rem;
  }
  .trial-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 5rem;
  }
  .trial-info__textbox {
    margin: 2rem 0 2.5rem;
    text-align: left;
  }
  .trial-info__button {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */