$soft-cyan_full_slider_bar: hsl(174, 77%, 80%); // used
$strong-cyan_slider_backround: hsl(174, 86%, 45%); // used
$light-grayish-red_discount_background: hsl(14, 92%, 95%); // used
$discount_text: hsl(15, 100%, 70%); // used
$discount_text_background: rgba(255, 140, 102, 0.15); // used
$pale-blue_CTA_text: hsl(226, 100%, 87%); // used
$pricing_component_background: hsl(0, 0%, 100%); // used
$main_background: hsl(230, 100%, 99%); // used
$light-grayish-blue_empty_slider_bar: hsl(224, 65%, 95%); // used
$toggle_background: hsl(223, 50%, 87%); // used
$text: hsl(225, 20%, 60%); // used
$text_n_CTA_background: hsl(227, 35%, 25%); // used
